.auth-page {
    max-width: 400px;
    margin: 100px auto;
    
}
.auth-title {
    font-size: 48px;
    font-weight: 400;
    

}
.auth-subtitle {
    font-size: 18px;
    font-family: var(--font-display);
}
.auth-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 40px auto;
    max-width: 400px;
    
}
.auth-form input {
    border: 1px solid #000000;
    border-radius: 15px;
    padding: 10px;
    background-color: #ffffff00; 
}
.auth-form button {
    padding: 10px;
    border-radius: 15px;
    border: 1px solid #000000;
    cursor: pointer;
    font-family: var(--font-display);
    background-color: #8DFF91;
}
.auth-button {
    margin-top: 60px;
    background-color: #000000 !important;
    color: #ffffff;
}
