.favorites {
    max-width: 1200px;
    margin: 30px auto 0;
    
    padding: 20px;
}
.favorites-subtitle {

}
.favorites-empty {
    font-size: 14px;
    margin-top: 50px;
    color: rgb(142, 142, 142);
}
.favorites-list {
    list-style: none;
    margin-top: 70px;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    max-width: 900px;
}
.favorites-card {
    border: 0.5px solid black;
    border-radius: 15px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.favorites-card {
    font-family: var(--font-display);
    font-size: 20px;
    
}
.favorites-card a {
    text-decoration: none;
    color: black;
}

@media(max-width: 768px) {

    .favorites-list {
        grid-template-columns: 1fr;
    }
}