.layout {
    min-height: 100vh; 
    
    
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 32px;
    position: sticky;
    top: 0;
    
    z-index: 100;
   

}
.touch-bar {
    display: flex;
    gap: 30px;
    align-items: center;
    

}
.bar-link {
    text-decoration: none;
    color:black;
    font-family: var(--font-display);
}

.sign-in {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: var(--font-display);
    
    border-radius: 30px;
    padding: 8px 16px;
    background-color: rgb(0, 0, 0);

}

.sign-in:hover {
    background-color: #8DFF91;
    color: rgb(0, 0, 0);
}
  
