:root {
    --font-heading: "Google Sans Flex", sans-serif;
    --font-body: "Google Sans Flex", sans-serif;
    --font-display: "Itim", sans-serif;
   
  }
  * {
    margin: 0;
    box-sizing: border-box;
  }
  body {
    margin: 0;
    font-family: var(--font-body);
    line-height: 1.5;
  }
  h1, h2 {
    font-family: var(--font-heading);
  }


